@page "/edit-nivel-radiacao/{id_nivel}"
@layout MainLayout
@inherits Radnet.Pages.EditNivelRadiacaoComponent

@using Radzen
@using Radzen.Blazor
@using Radnet.Models.RadnetBd
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="Radnet.Models.RadnetBd.NivelRadiacao" Data="@nivelradiacao" Visible="@(nivelradiacao != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Freq Radiacao" Component="freq_radiacao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(nivelradiacao.freq_radiacao)" Name="Freq_radiacao">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Freq_radiacao" Text="freq_radiacao is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Sensor" Component="id_sensor" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getSensorsResult" TextProperty="tipo_sensor" ValueProperty="id_sensor" Placeholder="Choose Sensor" style="display: block; width: 100%" @bind-Value="@(nivelradiacao.id_sensor)" Name="Id_sensor">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Id_sensor" Text="id_sensor is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Valor Referencium" Component="id_referencia" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getValorReferenciaResult" TextProperty="id_referencia" ValueProperty="id_referencia" Placeholder="Choose ValorReferencium" style="display: block; width: 100%" @bind-Value="@(nivelradiacao.id_referencia)" Name="Id_referencia">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Id_referencia" Text="id_referencia is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
