@page "/edit-valor-referencium/{id_referencia}"
@layout MainLayout
@inherits Radnet.Pages.EditValorReferenciumComponent

@using Radzen
@using Radzen.Blazor
@using Radnet.Models.RadnetBd
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="Radnet.Models.RadnetBd.ValorReferencium" Data="@valorreferencium" Visible="@(valorreferencium != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Vr Diario" Component="VR_diario" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(valorreferencium.VR_diario)" Name="VR_diario">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="VR_diario" Text="VR_diario is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Vr Mensal" Component="VR_mensal" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(valorreferencium.VR_mensal)" Name="VR_mensal">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="VR_mensal" Text="VR_mensal is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Vr Anual" Component="VR_anual" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(valorreferencium.VR_anual)" Name="VR_anual">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="VR_anual" Text="VR_anual is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
