@page "/nivel-radiacao"
@layout MainLayout
@inherits Radnet.Pages.NivelRadiacaoComponent

@using Radzen
@using Radzen.Blazor
@using Radnet.Models.RadnetBd
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="NivelRadiacao">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getNivelRadiacaosResult" TItem="Radnet.Models.RadnetBd.NivelRadiacao" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.NivelRadiacao" Property="id_nivel" Title="Id Nivel">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.NivelRadiacao" Property="freq_radiacao" Title="Freq Radiacao">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.NivelRadiacao" Property="id_sensor" SortProperty="Sensor.tipo_sensor" GroupProperty="Sensor.tipo_sensor" FilterProperty="Sensor.tipo_sensor" Title="Sensor">
              <Template Context="data">
              @(data.Sensor?.tipo_sensor)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.NivelRadiacao" Property="id_referencia" SortProperty="ValorReferencium.id_referencia" GroupProperty="ValorReferencium.id_referencia" FilterProperty="ValorReferencium.id_referencia" Title="Valor Referencium">
              <Template Context="data">
              @(data.ValorReferencium?.id_referencia)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.NivelRadiacao" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radnetModelsRadnetBdNivelRadiacao">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radnetModelsRadnetBdNivelRadiacao))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
